$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$slat100: hsl(202, 86%, 94%);
$slat300: hsl(203, 41%, 72%);
$slat500: hsl(200, 26%, 54%);
$slat700: hsl(200, 24%, 40%);
$slat900: hsl(202, 55%, 16%);


* {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: $slat100;
  display: flex;

}

.container {
  box-shadow: 0.5px 0.5px 3px $slat300 ;
  width: 800px;
  height: 400px;
  padding: 10px;
  margin: auto;
  background-color: $white;
  border-radius: 15px;
  display: flex;


  .card-item {
    width: 100%;
    height: 100%;
    position: relative;

    .header {}

    .form {

      .inpt {

        .inpt-term {}

        .inpt-rate {}
      }

      .type {

        .rad {}
      }

      button {}
    }


  }

  .card {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: $slat900;
    position: relative;

    .row {}
  }
}