$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$slat100: hsl(202, 86%, 94%);
$slat300: hsl(203, 41%, 72%);
$slat500: hsl(200, 26%, 54%);
$slat700: hsl(200, 24%, 40%);
$slat900: hsl(202, 55%, 16%);


* {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: $slat100;
  display: flex;

}

.error {
  p {
    color: $red;
    font-size: 15px;
  }

  input {
    border-color: $red !important;
  }

  span {
    color: $white;
    background-color: $red !important;
  }
}

.container {
  box-shadow: 0.5px 0.5px 3px $slat300 ;
  width: 850px;
  height: 490px;
  margin: auto;
  background-color: $white;
  border-radius: 15px;
  display: flex;



  .card-item {
    width: 100%;
    height: 100%;

    .header {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;

      a {
        color: $slat700;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin: 0 35px;
      color: $slat500;

      .amount {
        display: grid;
        position: relative;
        border-radius: 5px;

        label {
          margin: 5px 0;
        }

        input {
          width: 100%;
          padding: 12px 0;
          border-radius: 5px;
          text-indent: 35px;
          border: 0.5px solid $slat500;

          &:focus {
            border: 0.5px solid $slat500;
          }
        }

        span {
          position: absolute;
          background-color: $slat100;
          padding: 9.5px 10px;
          border-radius: 5px 0 0 5px;
          top: 30.5px;
          left: 0.7px;
        }

      }

      .inpt {

        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        gap: 20px;



        .inpt-term {
          margin: 10px 0;
          border-radius: 3px;
          position: relative;

          label {
            font-size: 12px;
          }

          input {
            margin: 8px 0;
            padding: 10px 0;
            border-radius: 5px;
            border: 1px solid $slat500;
            text-indent: 10px;
          }

          span {
            background-color: $slat100;
            position: absolute;
            right: 1px;
            top: 29.4px;
            padding: 7px 9px;
            border-radius: 0 5px 5px 0;
          }

        }

        .inpt-rate {
          margin: 10px 0;
          border-radius: 3px;
          position: relative;

          label {
            font-size: 12px;
          }

          input {
            margin: 8px 0;
            padding: 10px 0;
            border-radius: 5px;
            border: 1px solid $slat500;
            text-indent: 10px;
          }

          span {
            background-color: $slat100;
            position: absolute;
            right: 1px;
            top: 29.4px;
            padding: 7px 9px;
            border-radius: 0 5px 5px 0;
          }

        }
      }

      .type {
        width: 100%;
        margin-bottom: 5px;

        .rad {
          margin: 8px 0;
          // background-color: red;
          padding: 13px;
          border-radius: 5px;
          border: 1px solid $slat500;
          color: #000;
          font-weight: bold;

          input {
            margin-right: 11px;
          }

        }

      }

      button {
        margin-top: 5px;
        background-color: $lime;
        border: none;
        padding: 10px 3px;
        border-radius: 25px;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }


  }

  .card {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: $slat900;
    border-radius: 0 15px 15px 60px;

    .row {
      font-size: 14px;
      margin: 40px 10px;

      h2 {
        color: $white;
        font-size: 17px;
        margin: 25px 0;
      }

      p {
        font-size: 13px;
        margin-top: 10px;
        color: $slat500;
      }
    }
  }
}