$Lime: hsl(61, 70%, 52%);
$Red: hsl(4, 69%, 50%);
$White: hsl(0, 0%, 100%);
$Slat100: hsl(202, 86%, 94%);
$Slat300: hsl(203, 41%, 72%);
$Slat500: hsl(200, 26%, 54%);
$Slat700: hsl(200, 24%, 40%);
$Slat900: hsl(202, 55%, 16%);


@media screen and (min-width:375) {

*{
margin: 40px;
}
  .container {
    .card-item {

      .header {}

      .form {

        .inpt {

          .inpt-term {}

          .inpt-rate {}
        }

        .type {

          .rad {}
        }

        button {}
      }

      .card {

        .row {}
      }
    }
  }
}